<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <nuget.org>
        <add key="Username" value="svc-edgeuser" />
        <add key="Password" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAuogTmEKL8U64jUa4zXpoHQAAAAACAAAAAAADZgAAwAAAABAAAAAssv3lqN1L5q28KRI5uxohAAAAAASAAACgAAAAEAAAALOxarPySR3Dqxz5iTC8e7AQAAAAQIf8NvlQffn5X32EarE9DxQAAAB/cN3ZDnOwNnlv6d7szXXMoZtq+A==" />
      </nuget.org>
  </packageSourceCredentials>
</configuration>
